@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto&display=swap');



*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100%
}

body {
    font-family: 'Roboto', sans-serif;
    background: #ffff;
    overflow-x: hidden;
    font-size: 1rem;
    line-height: 1.5;
  min-height: 100vh;
  margin: 0;
}




.border-red {
    border-color: #ff4444;
    color: #ff4444 !important;
}

.error {
    color: #ff4444;
}

.border-green {
    border-color: #00C851;
    color: #00C851 !important;
}

.fa-spinner {
    font-size: 14px;
    color: #7047d7;
}



@-ms-viewport {
    width: device-width;
}





#intro {
    background-image: url("../img/intro.jpg");
    height: 60vh;
    background-size: cover;
    background-attachment: fixed;
}



#events {
    background-image: url("../img/events.jpg");
    height: 60vh;
    background-size: cover;
    background-attachment: fixed;
}





#register {
    background-image: url("../img/register.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}




#logo {
    font-size: 45px;
    margin: 0;
    display: block;
}

li {
    padding: 0;
    margin: 0px 15px;
    list-style: none;
    display: inline;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    color: white
}


.navbar {
    background-color: #113F8C;
}

.text-about {
    color: #FF8800 !important;
    font-weight: 400;
    
}

.section-heading {
    color: #113F8C !important;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 700;
}

.section-title {
    color: #113F8C !important;
    margin-top: 2em;
    margin-bottom: 2em;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

p {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.sidebar-section {
    color: #CC0000 !important;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.sidebar-text {
    color: black;
    font-size: 13px;
    font-weight: 600;
}


.sub-section {
    color: white !important;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}



.sidebar-span {
    color: white  !important;
    font-weight: 400;
    font-family: 'Libre Baskerville', serif;
    font-size: 13px;
}

.page-footer {
    background-color: #113F8C !important;
    color: white;
}

.footer-links {
    color: #FF8800;
    font-weight: 500;
    font-family: 'Libre Baskerville', serif;
}

.btn-red {
    color: #fff;
    background-color: #CC0000;
}

.form-control {
    background-clip: padding-box;
    background-color: transparent;
    border: 1px solid #ffe0b2;
    border-radius: 30px;
    color: #2c2c2c;
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-box-shadow: none;
    box-shadow: none;
}